@import './../app.component.scss';

.spacer {
  flex: 1 1 auto;
}

.user_info_container{
	text-align: center;
}

.username{
	color: $main_font_color;
    font-family: $main_font;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    display: inline-block;
    margin-left: 10px;
}

#icon_container{
	display: inline-block;
	padding-top: 8px;
	margin-left: -5px;
}

#icon_container > img{
	border-radius: 10px;
}

.logo_container > img{
    display: block;
    margin: auto;
    height: 24px;
    width: 40px;
}