<mat-tab-group mat-stretch-tabs>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">list</mat-icon>
    </ng-template>
    List goes here
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">card_giftcard</mat-icon>
    </ng-template>
    Gifting process goes here
  </mat-tab>
  <mat-tab label="three">
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">swap_horiz</mat-icon>
    </ng-template>
    Trading/Marketplace goes here
  </mat-tab>
</mat-tab-group>
