.profile_card{
    background-color : #FFA500;
    width : 85%;
    margin-left: 2%;
}

.create-account_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    height : 600px;
    width : 300px;
    top : 0%;
    right : 0%;
    background-color : #00e2e2;
}

.account_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align : center;
}

.create-account_button {
    position: absolute;
    bottom: 0;
    margin-left: 60%;
    color: black;
}

.cancel_button {
    position: absolute;
    bottom: 0;
    color : black;
    margin-left: 2%;
}

.button_container {
    margin-top : 10px;
}

.account_username{
    width : 100%;
}

.account_password{
    width : 100%;
}

.account_email{
    width : 100%;
}

.top_divider {
    display : block;
    margin-bottom : 80px;
    width : 100%;
    background-color : #FFA500;
    height : 20px;
}

.bottom_divider {
    display : block;
    margin-top : 80px;
    width : 100%;
    background-color : #FFA500;
    height : 20px;
}