<div class="login_container">
	<div class="img_container">
		<img src="assets/v2.png" width="80%" height="80%" />
	</div>

	<div class="login_content">
		<mat-form-field class="gifter_user_input">
	    <input matInput [(ngModel)]="username" placeholder="Username">
	  </mat-form-field>

	  <br/>

	  <mat-form-field class="gifter_pw_input">
	    <input matInput [(ngModel)]="password" type = "password" placeholder="Password">
	  </mat-form-field>

	  <mat-divider></mat-divider>

	  <button class="login_btn" type=submit mat-raised-button color = 'primary' (click)="sendAuth()">Log in</button>
	</div>
</div>