$main: #ef6461;
$sub: #ffc15e;
$accent: #1ac8ed;
$light: #e8e9eb;
$dark: #313638;

$main_font: AvenirNext;
$main_font_color: #0a1f44;

*::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	background-color: #CCCCCC;
}

*::-webkit-scrollbar{
	width: 10px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb{
	background-color: $main;
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent);
}
