<div class="mnemonic_container">
	<div class="login_header">
		<div class="logo_container">
		  <img src="assets/logo.png" />
		</div>
	</div>

	<div class="mnemonic_info">
	    <p class="mnemonic_description">Your Unique Private Phrase</p>

	    <div class="process_container">
	    	<p class="mnemonic_description_2">
	    		Write down your 12 word private key in the correct order and keep it secure.
	    		Your private key is required to restore your account or sign in on another device.
	    	</p>

	    	<br/>

	    	<!--<p class="mnemonic_description_2">
				For security reasons, you’ll be required to re-enter the words on the next page.
			</p>-->
	    </div>
	</div>

	<div class="mnemonic_view_container">
		<mat-grid-list cols="3" rowHeight="2:1">
			<mat-grid-tile *ngFor="let word of this.mnemonic; let i = index">
				<span class="word_container" matBadge="{{i + 1}}" matBadgePosition="before" matBadgeColor="primary">
					<p class="mnemonic_word">{{word}}</p>
				</span>
			</mat-grid-tile>
		</mat-grid-list>

		<button id="continue_btn" type=submit mat-button (click)="continue()">Continue</button>
	</div>
</div>